div {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.background-ui {
    margin: 15%;
    background-color: #0003;
}

/* 模态div，阻塞用户事件 */
.model-div {
}

.restart-button {
    bottom: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.step-info {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 5em;
    text-align: center;
    color: wheat;
}